{% extends "base.html" %}


{% block head %}
<title>Flask Website | Search...</title>
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display: inline;"><b>Search Results:</b></h1>
</div>
<hr>


{% if posts|length >= 1 %}
    {% for post in posts %}
        <br>
        <div class="posts">
            <div>
                <h2 style="display: inline;"><b>{{ post.title }}</b></h2>
                <a style="display: inline;" class="btn btn-danger del-btn float-right" href="/posts/delete/{{ post.id }}">Delete</a>
                <a style="display: inline;" class="btn btn-primary edit-btn float-right" href="/posts/update/{{ post.id }}">Edit</a>
            </div>
            
            {% if post.author %}
            <small>Written by: {{ post.author }} on: {{ post.date_posted.date() }}</small>
            {% else %}
            <small>Written by: N/A on: {{ post.date_posted.date() }}</small>
            {% endif %}
            <hr>
            <p style="white-space: pre-wrap;">{{ post.content }}</p>
        </div>
    {% endfor %}
    <br>
{% else %}
    <h2>No posts found in search...</h2>
    <br>
{% endif %}

{% endblock %}
